<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

  <div>
    <form name="myForm" novalidate>
      <input name="seqnumber" type="number" min="1" class="form-control" placeholder="Enter a positive number" ng-model="seqnumber" />
      <div id="errormsg" class="animate-show" ng-show="myForm.seqnumber.$invalid">
        <span style="color:red">
          Invalid data - Positive whole number only.
        </span>
      </div>
    </form>
  </div>
</div>


<div class="row marketing">
  <h4>All numbers</h4>

  <h4>All odd</h4>

  <h4>All even</h4>

  <h4>Exceptions</h4>

  <h4>Fibonacci</h4>
</div>
